.nav-item 
{margin-top: 10px;
    display: flex;
     font-size: 11px;} 
.nav-link
 {
    color: white;}
.parallax1
{ background-image: url("/images/background.image.jpeg");     
    min-height: 560px;  opacity: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text
 {margin-top: 130px;
    margin-left: 150px;}
.text h1
 { font-size: 80px;color: white;font-weight: 500;
    margin-top: -15px;margin-left: 80px;  
    font-family: 'Montserrat',sans-serif;
}
.text p{ 
    font-size: 12px;
    color: white;
    margin-left: 80px;}
.button1:hover 
{background-color: white;
    color: #053C3F !important;}
.page2-text
 {margin-top: 80px;
    text-align: center;}
.product-cards 
{display: flex;
     flex-wrap: wrap;
    justify-content: center;
    margin-right: 150px;
    margin-left: 150px;}
 .product
  {margin-top: 20px;
    margin-left: 10px;   }
    img:hover {
        transform: scale(1.2);
        transition: transform 2s, filter 1.5s ease-in-out;
        transform-origin: center center;
        filter: brightness(80%);
      }
.product-cards p
 {color: #494848;
    font-size: 13px;
    margin-top: 8px;}
.product-cards h6
{ margin-top: -10px;
    font-size: 15px;}
.img-3 
{margin: 200px 200px;}
.page-3
 {display: flex;
}
.page3-text 
{display: block;
    margin-top: 250px;
    margin-right: -70px; 
    justify-content: center;
    text-align: center;}
.button2:hover {
    background-color: #323232 !important;
    color: white !important;
    border: 2px solid #323232 !important;
}
.page-4 
{ display: flex;
     justify-content: space-evenly;}
.page-4 h5
 {display: flex; 
    justify-content: center;
    margin-top: 10px;
     font-weight: 500;}
.page-4 p {
    display: flex;
    text-align: center;
    margin-top: 20px;font-size: 13px;}
.icon-format {
    height: 50px;
    width: 50px;
    border: #269FB7 1px solid;   
     border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: 90px;}
.icon{margin-top: -130px;}
.logo { margin: 130px 170px;
    display: flex;justify-content: center;}
.page5-text {
     display: block;
    text-align: center; 
    justify-content: center;}
.parallax2 { 
     background-image: url("/images/bgimage3.png");
    min-height: 450px;
    background-attachment: fixed; background-position: center;
    background-repeat: no-repeat;background-size: cover;}
.page6-text { 
    text-align: center;
     display: block;
    margin-top: 100px;}
.background-overlay {
    background-image:url('/images/bg-overlay-01-free-img.png ') ;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.page-7 
{ 
    display: flex;
margin: 150px 180px;}
.sign-up 
{margin-left: 60px;}
.page-8
{
    background-color: black;
    height: 320px;
    color: white;
    display: flex;
}
.page-8 p
{   font-size: 13px;}
.page8-text
{margin: 80px 150px;}
.final-logo
{margin-top: 80px;  margin-right: 30px; } 
.icons{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;}
